@page "/counter"

<PageTitle>Creadores</PageTitle>

<h1>Creadores del GymApp</h1>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cuenta</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Angel Antonio Rosales Handal</td>
            <td>20191005499</td>
        </tr>

        <tr>
            <td>Abner Reniery Valeriano Maradiaga</td>
            <td>20191006552</td>
        </tr>

        <tr>
            <td>Carlos Antonio Rivas Mendez</td>
            <td>20171003395</td>
        </tr>

        <tr>
            <td>Joseph Abraham Erazo Ponce</td>
            <td>20171001158</td>
        </tr>

        <tr>
            <td>Linsey Pamela Martínez Nuñez.</td>
            <td>20171030401</td>
        </tr>

        <tr>
            <td>Marilyn Gissel Garcia Cerrato</td>
            <td>20171031202</td>
        </tr>

        
        



    </tbody>

</table>


